<h2>Posts</h2>

<div class="row">
  <table>
    <tr>
      <th class="col-lg-3">Title</th>
      <th class="col-lg-6">Content</th>
      <th class="col-lg-3">Options</th>
    </tr>

    <% @posts.each do |blogpost| %>
    <tr>
      <td class="col-lg-3"><%= blogpost.title %></td>
      <td class="col-lg-6"><%= blogpost.body %></td>
      <td class="col-lg-3">
        <%= link_to "Edit", edit_post_path(blogpost) %> |
        <%= link_to 'Delete', post_path(blogpost), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>



